div {
  background-color: red;
  height: 20px;
  width: 20px;
}

.block {
  background-color: blue;
}

.oTetromino {
  background-color: green;
}

.lTetromino {
  background-color: yellow;
}

.zTetromino {
  background-color: orange;
}

.tTetromino {
  background-color: purple;
}

.iTetromino {
  background-color: brown;
}

.takenBlock {
  background-color: blue;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 200px;
}

.end {
  background-color: white;
}
